# Hugo default output directory
/public
/resources

# contextual information
docs/context

# Hugo build lock
.hugo_build.lock

# Dependency directories
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/
*.swp
*~
*.swx
